<!-- <div class="card mb-3"  *ngIf="themes" >
    <svg xmlns="http://www.w3.org/2000/svg" class="d-block user-select-none" width="100%" height="200" aria-label="Placeholder: Image cap" focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size:1.125rem;text-anchor:middle">
    <rect width="100%" height="100%" fill="#868e96"></rect>
    <text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
  </svg>
  <div class="card-body" *ngFor="let theme of themes">
    <p class="card-text">{{theme.themeName}}</p>
  </div> 
  <div class="card-footer text-muted">
    <button  routerLink="theme:id" class="btn btn-primary" >View Details</button>
  </div>
</div> -->

<main>
    <div class="theme-title" *ngIf="themes">
      <div *ngFor="let theme of themes" class="theme-container">
        <div class="theme-name-wrapper" [routerLink]="['/theme', theme._id]">
          <div class="theme-name">
            <a class="normal">
              <h2>{{theme.themeName }}</h2>
            </a>
            <div class="columns">
              <div>
                <p>Date: <time>{{theme.created_at }}</time></p>
                <div class="nick-name">
                  <p>Username: <span>{{theme.userId.username}}</span></p>
                </div>
              </div>
              <div class="subscribers">
                <button *ngIf="isLogged" class="subscribe">Subscribe</button>
                <p>Subscribers: <span>{{theme.subscribers.length}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!themes">Loading...</div>
  </main>