<div class="container" *ngIf="themes" >
  <div class="card-group vgr-cards" *ngFor="let theme of themes | paginate: { 
    itemsPerPage: 5, 
    currentPage: page,
    totalItems:totalLength
  }" >
    <div class="card"  >
      <div class="card-img-body">
      <!-- <img [src]="formData" /> -->
      <img [attr.src]="formData" />
      </div>
      <div class="card-body">
        <h4 class="card-title">{{theme.themeName}}</h4>
        <p class="card-text">{{theme.userId.username}}</p>
        <a  [routerLink]="['/themes', theme._id]" class="btn btn-outline-primary">Primary</a>

      </div>
    </div>
  </div>
  <br>
  <pagination-controls class="my-pagination" (pageChange)="page = $event"></pagination-controls>
</div>