<!-- <div [formGroup]="form" (submit)="onSubmit()" class="form-group">
    <label class="col-sm-2 control-label" for="image">Upload Forum Image</label>
    <br/>
    <input type="file" id="imagePath" name="imagePath" class="btn btn-dark" (change)="onFileSelect($event)"/>
     <span class="text-danger" >Image is required.</span>
    <br/> 

     <p class="text-danger">Make sure to use high-resolution images with aspect ratio 16:9</p>
    <br/>
  </div>  --> 
<div  class="container">
    <input #fileInput type="file">
    <button (click)="onFileUpload()">upload</button>
</div>