<div id="fullscreen_bg" class="fullscreen_bg">
<div class="container">
    <div class="new-theme-border">
      <div class="header-background">
        <span>New Theme</span>
      </div>
      <form  #form="ngForm" method="POST" (ngSubmit)="createTheme(form)" enctype="multipart/form-data">
        <div class="new-theme-title">
          <label for="themeName">Title <span class="red">*</span></label>
          <input #themeNameInput="ngModel" type="text" name="themeName" id="themeName" ngModel required minlength="5">
          <ng-container *ngIf="themeNameInput.touched">
            <p  *ngIf="themeNameInput.errors?.required"  class="error">
              Theme name is required.
            </p>
            <p  *ngIf="themeNameInput.errors?.minlength" class="error">
              Theme name must be at least 5 characters long.
            </p>
          </ng-container>
        </div>
        <div class="new-theme-content">
          <label for="postText">Post <span class="red">*</span></label>
          <textarea #postInput="ngModel" type="text" name="postText" id="postText" rows="8" class="height" ngModel required  minlength="10"></textarea>
          <ng-container *ngIf="postInput.touched"> 
            <p  *ngIf="postInput.errors?.required" class="error">
              The field with your post is required.
            </p>
            <p *ngIf="postInput.errors?.minlength" class="error">
              Post must be at least 10 characters long.
            </p> 
          </ng-container>
        </div>
        <!-- <app-createimage></app-createimage> -->
        <div class="form-group">
          <label class="col-sm-2 control-label" for="image">Upload Forum Image</label>
          <br/>
          <input type="file" id="imagePath" name="imagePath" class="btn btn-dark" (change)="onFileSelect($event)"/>
          <!-- <span class="text-danger" *ngIf="imgRequiredErr">Image is required.</span>
          <br/> -->

          <p class="text-danger">Make sure to use high-resolution images with aspect ratio 16:9</p>
          <br/>
        </div>
        <!-- <div class="new-theme-title">
          <label for="image">Upload image<span class="red">*</span></label>
          <input type="file" name="image" id="image" class="form-control-file">
          </div> -->
        <div class="new-theme-buttons">
          <button  type="button"  routerLink="/themes" class="cancel">Cancel</button>
          <button class="public" >Post</button>
        </div>
      </form>
    </div>
  </div>
</div>
