
<div id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to Travel-Blog</h1>
      <br>
      <br>
      <br>
      <h3>The Most Beautiful Places in Bulgaria</h3>
      <br>
     <h4>Ask people from Bulgaria about the most beautiful places in their country, and you’ll hear a thousand different answers – though heart-warming to hear, it can be an overwhelming response for visitors with limited time. To help you make the most of your trip, we’ve rounded up what we think are most amazing spots in Bulgaria.

      </h4>
      <a href="Themes" class="btn-get-started scrollto">Get Started</a>
    </div>
  </div>
  
